<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627880841369-ot986khob3i59pdmb2up640hd8f21rup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627880841369-ot986khob3i59pdmb2up640hd8f21rup</string>
	<key>API_KEY</key>
	<string>AIzaSyDZbfjltGvyj8Bi_WskeoZ15qCAXarP0bk</string>
	<key>GCM_SENDER_ID</key>
	<string>627880841369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alnutayfi.CRUD-Project</string>
	<key>PROJECT_ID</key>
	<string>recipeat-29beb</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeat-29beb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627880841369:ios:f17cf382eb1c7f974aa808</string>
	<key>DATABASE_URL</key>
	<string>https://recipeat-29beb.firebaseio.com</string>
</dict>
</plist>